.bt-share {
  outline: none;
  display: inline-block;
  cursor: pointer;

  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  padding: 10px 22px 10px 48px;

  background: none;
  border: 2px solid white;
  border-radius: 50px;

  -moz-transition: background-color ease .15s, color ease .15s
  -o-transition: background-color ease .15s, color ease .15s
  -webkit-transition: background-color ease .15s, color ease .15s;
  transition: background-color ease .15s, color ease .15s
}

.bt-share.active:hover {
  color: #255100;
}

.bt-share.inactive {
  opacity: .3;
  cursor: default;
}

.bt-share-twitter {
  background: url(../images/twitter-icon.svg) no-repeat 16px 9px;
}

.bt-share-twitter.active:hover {
  background: url(../images/twitter-icon-hover.svg) no-repeat 16px 9px;
  background-color: #fff;
}

.bt-share-facebook {
  background: url(../images/facebook-icon.svg) no-repeat 16px 8px;
}

.bt-share-facebook.active:hover {
  background: url(../images/facebook-icon-hover.svg) no-repeat 16px 8px;
  background-color: #fff;
}

.controls {
  text-align: center;
}
