* {
   -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

body {
  font-family: 'Russo One';
  background-color: #265101;
  color: #fff;
  padding: 20px;
}

.wrapper {
  max-width: 480px;
  margin: 0 auto;
  border: 1px solid #80c700;
  padding: 40px;
  box-shadow: inset 0px 0px 6px rgba(0,0,0,.5);
}

.logo {
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 30px;
  padding: 0;
}

.logo-container {
  display: inline-block;
  text-align: left;
  line-height: 1;
}

.logo-name {
  font-size: 62px;
}

.logo-championship {
  color: #80c700;
  font-size: 13px;
}

.logo-year {
  color: #ffe000;
  font-size: 36px;
}

.games {
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
}

.games li {
  padding: 20px;
  border-bottom: 5px solid #2c5f00;
  text-align: center;
}

.games li:last-child {
  border-bottom-width: 0;
}

.team-name {
  font-family: Arial;
}

.separator {
  font-family: Arial;
  font-weight: normal;
  font-size: 40px;
  color: #57763b;
}

.bet {
  font-family: Arial;
  color: #fff;
  background: rgba(38, 79, 0, .3) url(../images/input-placeholder.png) no-repeat 22px 26px;
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 200px;
  font-size: 40px;
  padding-left: 17px;
  box-shadow: inset 0px 5px 8px rgba(0, 0, 0, .4), inset 0px -5px 8px rgba(0, 0, 0, .4);
}

.bet:focus,
.bet.valid {
  background-image: none;
}

.bet:disabled {
  opacity: .5;
}

.bet,
.bt-share-twitter,
.bt-share-facebook {
  outline: none;
}

.flag {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 0 10px;
}

.flag img {
  display: block;
}

.skip-bet-switcher {
  font-size: 10px;
  font-weight: normal;
}

.skip-bet-action {
  text-decoration: underline;
  cursor: pointer;
}

.skip-bet-skipped {
  opacity: .4;
}

.controls {
  display: table;
  width: 100%;
}
.controls .controls-wrapper {
  display: table-cell;
  width: 50%;
}

.controls button {
  font-family: Helvetica, Arial, sans-serif;
  border: 0;
  width: 100%;
  padding: 20px 0;
  cursor: pointer;
}

.controls button[disabled] {
  opacity: .3;
}

.bt-share-twitter {
  background-color: #34ccfe;
}

.bt-share-twitter:hover {
  background-color: #22b5e5;
}

.bt-share-facebook {
  background-color: #3b5999;
}

.bt-share-facebook:hover {
  background-color: #2d4985;
}
